body {
    font-family: Helvetica;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 100px;
    margin: 0px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  gap: 100px;
  width: 1200px;
}

.left {
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}

.right {
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.right img {
  border-radius: 100px;
}
p {
  font-size: 15px;
  margin: 20px 0 20px 0;
}

h2 {
  font-family: Helvetica;
  font-size: 50px;
  font-weight: 700;
  margin: 10px 0 0px 0;
}

h3 {
  margin: 0 0 0px 0;
}

button {
  background-color: rgb(4, 34, 122);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  min-width: 120px;
  height: 45px;
}

a {
  padding-right: 10px;
}

.logo {
  margin: 0px;
  padding: 0px;
}
